body {
    font-family: "Verdana", monospace;
    text-align: center;
    background-image: url("https://thumbs.dreamstime.com/b/grunge-abstrato-escuro-rusty-distorted-decay-old-texture-do-verde-azul-da-pintura-para-autumn-background-wallpaper-122816826.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 10px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .page-logo {
      margin-top: auto;
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 40px;
  }
  
  img {
    max-height: 250px;
  }
  
 