@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500&display=swap");

* body {
  font-family: "Rajdhani";
    text-align: center;
    background-image: url("https://img.freepik.com/fotos-gratis/fundo-de-pipoca-para-o-conceito-de-cinema_23-2148115926.jpg?size=626&ext=jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 10px;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 30px;
    font-family: "Rajdhani";
  }
  
  .page-logo {
      margin-top: auto;
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  body > img {
    margin: 0 40px;
  }
  
  img {
    max-height: 250px;
  }
  
 